       <ion-view  hide-nav-bar="true">
      <ion-slide-box on-slide-changed="slideChanged(index)"  auto-play="true" does-continue="true" option="options">
      <ion-slide ng-click="startApp()"  style="background-image: url('img/slide1.png');
     /*  background-repeat: no-repeat;*
        background-size: 100% 100% !important;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;">

        <div style="position: absolute; bottom: 40px; width: 100%">
        <div style="text-align: center">
          <label ng-click="startApp();get_check()" >
          <font style="color:black"> </font>
          </label>
        </div>
    </div>

        </ion-slide>
        <ion-slide ng-click="startApp()"  style="background-image: url('img/slide2.png');
  -webkit-background-size: contain;
   background-size: 100% 100% !important;
  /* background-repeat: no-repeat;*/
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size:contain;">
        <div style="position: absolute; bottom: 40px; width: 100%">
        <div style="text-align: center">
          <label ng-click="startApp()" >
            <font style="color:black"> </font>
          </label>
        </div>
    </div>

         </ion-slide>
         <ion-slide  ng-click="startApp()" style="background-image: url('img/slide3.png');
            background-size: 100% 100% !important;
        /*  background-repeat: no-repeat;*/
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size:contain;">

        <div style="position: absolute; bottom: 40px; width: 100%">
        <div style="text-align: center">
          <label ng-click="startApp();get_check()" >
        <font style="color:black"> </font>
          </label>
        </div>
    </div>
         </ion-slide>
       </ion-slide-box>
