<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
     <ion-nav-view name="searchcontent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" style="background-color:#EF4836;height:45px">
      <h1 class="title" style="color:white">News Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
      
        <ion-item menu-close href="#/app/search">
          Sources
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Top Headlines
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
