<html>
<head>

  </head>
<body>

<ion-view view-title="TOP HEADLINES" hide-nav-bar="true" >


      <ion-header-bar align-title="center" class="bar" style="background-color:#EF4836;height:45px">
        <div  ng-click="gotomenu()" style="color:white" style="position:absolute">
  <h3 style="color:white;margin-top:4px">
<font style="font-size:20px"><i class="fa fa-bars "></i></font></h3>
</div>
    <h1  class="title" style="font-size:20px;position:static;horizontal-align:middle;margin-left:20px">TOP HEADLINES</h1>
   
  </ion-header-bar>

  <ion-content  style="background-color:  #F8F8F8">

       
       
    <ion-list style="min-width:100%; position:relative;border: none;" overflow-scroll="true">
      <ion-item class=" item item-body" style="border: none;padding-bottom:0px;padding-right:5px;padding-left: 5px;padding-top: 5px" ng-repeat="playlist in top_headlines" ng-if="check_show(playlist.author,playlist.description)"  ng-click="get_the_obj(playlist)">
       
        <img ng-src="{{playlist.urlToImage || 'img/default.png'}}" style="min-width:100%; height:200px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

        <div style="position:absolute;left:45%;top:9%;" >
          <div style="height:15px"><i class="fa fa-user-circle-o" style="font-size:15px;color:white;"" ></i>
          <font style="color:#fff;font-size:15px;height:15px" >{{playlist.author | limitTo : 20}}</font>
        </div>
         
          
            
           
            </div> 

            <div style="position:absolute;left:2%;right:2%;top:60%;" >
         <div class="col col-100" style="word-wrap: break-word;">
          
   
  <font style="margin-left:3px;font-size:20px;color:#fff">{{playlist.title | limitTo: 100}}</font>
  
          <!-- <p style="color:#fff;font-size:20px;height:100px">{{playlist.title | limitTo : 100}}</p> -->
         </div> 
          
        </div>
           
        

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
</body>
</html>
