<html>
<head>

  </head>
<body>

<ion-view view-title="TOP HEADLINES" hide-nav-bar="true" >


      <ion-header-bar align-title="center" class="bar" style="background-color:#EF4836;height:45px">
        <div  ng-click="gotomenu()" style="color:white" style="position:absolute">
  <h3 style="color:white;margin-top:4px">
<font style="font-size:20px"><i class="fa fa-bars "></i></font></h3>
</div>
    <h1  class="title" style="font-size:20px;position:static;horizontal-align:middle;margin-left:20px">Choose Newspaper</h1>
   
  </ion-header-bar>

  <ion-content  style="background-color:  #F8F8F8">

  <div class="row" ng-repeat="i in top_sources" >
    <div class="col col-50" ng-click="go_to_view(i)">
      <div  class = " card "    align="left" style="background-color :#EF4836">

    <!-- <span class="glyphicon glyphicon-"></span> -->
    <div style="height:100px;margin-top:5px"><p style="margin-top:5px;font-size:15px;text-align:left;color:white">Country:&nbsp;{{i.country}}</p></div>
    <div style="height:100px;margin-top: 5px"><p style="margin-top:5px;font-size:15px;text-align:left;color:white">Category:&nbsp;{{i.category}}</p></div>
    <div style="height:100px;margin-top: 5px"><p style="margin-top:5px;font-size:15px;text-align:left;color:white">language:&nbsp;{{i.language}}</p></div>


    
</div>

    </div>
   
    <div class="col col-50" ng-click="go_to_view(i)">
      <div  class = " card "    align="center" style="background-color :#EF4836">

    <!-- <span class="glyphicon glyphicon-"></span> -->
    <div style="height:100px;margin-top: 50px"> <p style="margin-top:5px;font-size:18px;text-align:center;color:white">{{i.name}}&nbsp;<i class="fa fa-globe"></i></p></div>

   


    
</div>

    </div>
  </div>     
       
 
  </ion-content>
</ion-view>
</body>
</html>
