 <ion-view  hide-nav-bar="true"  cache-view="false">

  <ion-content style="background-color:#EF4836; width:100% !important">

   <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view style="margin-top:180px;background-color:#EF4836">
        <ion-content scroll="false" style="background-color:#303030; width: 90%; height: 19%; top: 5%; left: 5%; right: 5%; bottom: 5%;" >
         <div>
         <center><p style="color:#fff"> <i style="color:#FF0000;position:absolute;font-size:30px"><b>&#33;</b></i></p><br><br>
         <font size=2><p style="color:#fff">Please check the Internet Connection</p>
         <button class="button button-full button-positive"  ng-click="createContact(newUser)">OK</button>
        <!--  <div style="height:10%;background-color:#149671;padding:0"><p style="color:#fff">OK</p>
         </div> -->

         </font></center>
         </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <div id="custom-overlay" style="background-color:#EF4836; width:100% !important">
    <br> <br>
   <br> <br> <br><br> <br>
    <center>


     <br>
     <h2 class="animated zoomIn" style="color:#fff">News App</h2> <br>
       <h3 class="animated  zoomIn" style="color:#fff;margin-top:2px"> One place to <b>know the world</b> </h3>

      </center>
  </div>
</ion-content>

</ion-view>
