<html>
<head>

  </head>
<body >

<ion-view view-title="DETAIL" hide-nav-bar="true"  >


      <ion-header-bar align-title="center" class="bar" style="background-color:#EF4836;height:45px">
       <div  style="color:white">
 <h3 style="color:white;margin-top:3px" ng-click="$ionicGoBack()">
<font style="font-size:18px"><b><i class="  fa fa-long-arrow-left "></i></b></font></h3>
  </div>
</div>
    <h1  class="title" style="font-size:20px;position:static;horizontal-align:middle;margin-left:20px">{{browse_data.title | limitTo: 15}}<span ng-if="browse_data.title.length>15">...<span></h1>
   
  </ion-header-bar>

  <ion-content style="background-color:  #F8F8F8">

       
       
    <div class="myHeader"  style="background-image:url({{browse_data.urlToImage}});width:100%;height:260px;background-size: cover;margin-top:0px;">
 <div style="position:absolute;left:2%;right:2%;top:30%;" >
         <div class="col col-100" style="word-wrap: break-word;">
          
   
  <font style="margin-left:3px;font-size:20px;color:#fff">{{browse_data.title | limitTo: 100}}</font>
  
          <!-- <p style="color:#fff;font-size:20px;height:100px">{{playlist.title | limitTo : 100}}</p> -->
         </div> 
          
        </div>

    </div>
 
<div class="row" style="background-color: #F8F8F8 ">
  <div class="col col-100">
    <p style="font-family: Arial, Helvetica, sans-serif;" align="left">{{browse_data.title}}</p>

  </div>
</div>
<div class="row" style="background-color: #F8F8F8 ">
  <div class="col col-100">
<p style="font-family: Arial, Helvetica, sans-serif;color: #939393" align="left">{{browse_data.description}}</p>
  </div>
</div>
</ion-content>
</ion-view>
</body>
</html>