/* Empty. Add your own CSS if you like */

.ionic_ratings .icon {
  font-size:50px;
}

html, body{

	 margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; 
  background-color:  #F8F8F8;
}
.ionic_ratings .read_only {
  pointer-events:none;
}

.depth {
    display: inline-block;
    width: 20%;
    border: 1px solid rgba(255,255,255,0.6);
    background: linear-gradient(#eee, #fff);
    transition: all 0.3s ease-out;
    box-shadow:
    inset 0 1px 4px rgba(0,0,0,0.4);
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  color: #F00;
	text-align: center;
	font-family:customfont;
}


.slider {
height:100%;
text-align: center;
}
.scroll {
 height:100%;
 }
 .popup-head{
   background-color:#6a5f9b;
   color:white;
 }

 .facebook-blue{
	background-color: #3B5998 !important;
	border-color: #3B5998 !important;
	color: white !important;
}

.googleplus-red{
	background-color: #dd4b39 !important;
	border-color: #dd4b39 !important;
	color: white !important;
}


.card{

box-shadow: 1px 1px 3px #888;
height: 169px;
width: 158px;
padding-left: 1px ;
padding-right: 5px ;
padding-bottom: 0.5px;
padding-top: :0.5px;
margin: 10px;
}

 .color-red {
   background-color: #6a5f9b;
   width: 100%;
   height: 100%;
   text-align: center;
   font-size: 250%;
   vertical-align: middle;

   justify-content: center;
 }

h1 {
   left: 0;
   /* line-height: 200px; */
   margin: auto;
   margin-top: -100px;
   position: absolute;
   top: 50%;
   width: 100%;
   color: white;

 }

 #nav
 {
   position:static;
   right: 40%;
   bottom:50px;
   align-content: center;
 }

 .stylish-button {
     -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
     -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
     box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
     background:#00C492;
     color:#E5E5E5;
     border-radius:1px;
     -moz-border-radius:2px;
     -webkit-border-radius:5px;
     border:none;
     font-size:14px;
     font-weight:600;
     padding:10px 30px;

 }


 div.green{
  width: 200px; height: 60px; float: left; background-color:  #6a5f9b; }
 div.grey{
 width: 60px; height: 60px; float: left;  background-color: #fff; }


 body, .ionic-body {

}

img{
      width:100%;
     	     }

	.button3 {position:absolute;right:5%;top:32%;
  background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627; !important;
	}

	.myButton {
	position:absolute;right:5%;top:3%;
	background-color:#ef9cff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #fa96f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #bbaabd; !important; }

  label{
  color:#4000ff;
  font-size:12px;
  font-family:Arial;
  }


  .Button3 {
   position:absolute;
   top:68%;
   right:4%;
	 background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  }
 .myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

    .myButton {
    	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    	background-color:#599bb3;
    	-moz-border-radius:28px;
    	-webkit-border-radius:28px;
    	border-radius:28px;
    	border:1px solid #29668f;
    	display:inline-block;
    	cursor:pointer;
    	color:#ffffff;
    	font-family:Arial;
    	font-size:15px;
    	padding:8px 1px;
    	text-decoration:none;
    	text-shadow:0px 1px 0px #3d768a;
    }
    .myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #49d66f), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #49d66f 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #49d66f 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #49d66f 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #49d66f 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #49d66f 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#49d66f', endColorstr='#5cbf2a',GradientType=0);
	background-color:#49d66f;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:4px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButtonOffer:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #49d66f));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #49d66f 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #49d66f 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #49d66f 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #49d66f 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #49d66f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#49d66f',GradientType=0);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


.calendar-text { margin-top:.3em; margin-left:0.3em; }


.myButtonBook {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:1px 100px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.chat-heading{

background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0,0.8)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
    position: absolute;
    top: 40px;
    bottom : 1px;
    right: 1px;
    left: 1px;
}

.chat-headingDetail{
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0,0.8)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0,0.8) 100%);
      position:fixed;
      top:150px;
      bottom : 235px;
      right: 1px;
      left: 1px;
       margin: auto;

}

.col-100 , .col-50, .col-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.card {
  width:100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-avatar, .item.tabs {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.item-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

